{% if page.url == "/" %}
<header class="site-header page-home text-center">
 {% else %}
<header class="site-header text-center">
{% endif %}
  <div class="wrapper">
    <a class="site-title" href="{{ site.baseurl }}/">
      &lt;blog id="arnaud"&gt;
    </a>
    {% if page.url == "/" %}
    <div>
      <a class="btn" href="https://github.com/ArnaudWeyts/blog">
        View on <span class="icon icon--github-white">{% include icon-github.svg %}</span>
      </a>
    </div>
    {% endif %}
  </div>
</header>
